{% extends 'main.html' %}
{% load static %}
{% block title %}
Wardrobe - DressCode
{% endblock %}
{% block navbar %}
<!-- Override navbar block with nothing -->
{% endblock %}

{% block content %}

{% include 'sidebar.html' %}

{% for clothing in clothing %}
    <div>
        <span>{{ clothing.name }}</span>
        {% if clothing.id %}
            <a href="{% url 'delete-Clothing' clothing.id %}" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600">Delete</a>
        {% endif %}
    </div>
{% empty %}
    <p>No clothing items in your wardrobe.</p>
{% endfor %}

{% endblock %}

